// setup colours
$primary  : #1F2937 !default;
$secondary: #e2fff9 !default;
$tertiary : #004A3B !default;

// setup colours in dark mode
$primary-dark  : #e2fff9 !default;
$secondary-dark: #1F2937 !default;
$tertiary-dark : #2CA58D !default;

// Generic colors
$blue       : #2361ce !default;
$indigo     : #4F46E5 !default;
$purple     : #7C3AED !default;
$pink       : #EF4683 !default;
$red        : #E11D48 !default;
$orange     : #FBA918 !default;
$brown      : #b9a084 !default;
$yellow     : #f3c78e !default;
$yellow-100 : #ffeed6 !default;
$yellow-200 : #f5dbb8 !default;
$green      : #10B981 !default;
$teal       : #1E90FF !default;
$cyan       : #63b1bd !default;
$soft-indigo: #f5e8ff !default;
$soft-green : #2CA58D !default;