@import './_colours.scss';

.background {
    background-color: $primary;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;

    .imageMain {
        //position in the top left of the page
        position: absolute;
        top: 0;
        left: 0;
        //have a gap around the image
        padding: 10px;

    }

    .titleAndBrief{
        //poistion to the right of the image
        position: absolute;
        top: 0;
        left: 0;
        //padding left of the image
        padding-left: 400px;
        //padding top of the image
        padding-top: 100px;
        //padding right of the image
        padding-right: 100px;

        .title {
            font-size: 50px;
            font-weight: bold;
            color: $secondary;
        }
        .brief{
            font-size: 20px;
            color: $secondary;  
        }
    }

    .mealPrepInfo{}


}